
body
{
  background-color: white;
  background-image: none;
}

table
{
    border-collapse: collapse;
    background-color: yellow;
}

table, td, th
{
    border: 2px
    solid black;
}

td {
    height: 50px;
    vertical-align: bottom;
}

th {
    background-color: #4CAF50;
    color: white;
}

.formRegisterCoach
{
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 450px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

.boxLinkLogout
{
  margin: 100px 10px 0px 100px;
  top: 85%;
  color: black;
}
