
body
{
  background-color: lightgrey;
  background-image: none;
}

table
{
    border-collapse: collapse;
    background-color: grey;
    width: 800px;
}

table, td, th
{
    border: 2px
    solid black;
}

td, th
{
      padding: 10px;
}

td {
    width: 100px;
    height: 60px;
    vertical-align: bottom;
}

th {
    background-color: green;
    color: white;
}

.formRegisterCoach
{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 575px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

.boxLabel
{
  margin: 0px 150px 0px 25px;
}

.boxInput
{
  margin: 0px 160px 15px 25px;
}

.boxLinkLogout
{
  margin: 100px 10px 0px 100px;
  top: 85%;
  color: black;
}

.subjects
{
  overflow: hidden;
  padding-top: 2px;
}

.labelSubjects
{
  margin-left: 25px;
}

select
{
  margin: 0px 160px 0px 25px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 60px;
  width: 298px;
  font-size: 15px;
  color: white;
}

.dropdownInfo
{
  margin: 3px 75px 0px 0px;
  color: white;
  font-size: 10px;
  font-weight: lighter;
  float: right;
}

.registrera
{
  margin: 20px 100px 0px 25px;
  width: 300px;
  height: 40px;
}

.addDay{
  margin-bottom: 300px;
  width: 100px;
  height: 40px;
}


.boxTitle
{
  padding-top: 10px;
}

.formBookings
{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 525px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
  float: left;
}

.formDay{
  margin-left: auto;
  margin-right: auto;

  width: 400px;
  height: 100px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
  /*float: right;*/

}

.btnBook
{
  margin: 0px 0px 0px 0px;
}

.myBookings
{
  width: 1400px;
  height: 300px;
}

.booking
{
  margin: 10px 10px 10px 10px;
  background-color: white;
  width: 300px;
  height: 150px;
  float: left;
  border-radius: 25px;
  padding: 15px;

}

.coachInfo
{
  padding: 25px 25px 25px 0px;
}

.studentInfo
{
  padding: 25px 25px 25px 0px;
}

.newBooking
{
  height: 600px;
  width: 1400px;
  margin: 10px 10px 10px 10px;
  border-radius: 25px;
  padding: 15px;
}

.bookDaySubject
{
  height: 100px;
  width: 1400px;
  padding: 25px;
  margin: 25px 25px 25px 25px;
}
