body
{
  font-family: sans-serif;
}

h1
{
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h2
{
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  border-radius: 20px;
}

input
{
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  height: 30px;
  width: 298px;
  font-size: 15px; /* Storleken på texten där man uppger e-post och lösenord */
  color: white;
}

::placeholder
{
  color: #A4A4A4;
}

label
{
  width: 100%;
  color: white;
}

button
{
  background-color: #D8D8D8;
  color: #000000;
  border-radius: 5px;
  border: 2px solid #A4A4A4;
  font-size: 15px;
  width: 140px;
}

button:hover
{
  background-color: #cc2900;
  color: white;
  transition-duration: 0.4s;
}

select
{
  margin: 0px 60px 0px 25px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 60px;
  width: 298px;
  font-size: 15px;
  color: white;
}
