body
{
  background-image: url(img/bok.jpg);
  background-size: cover;
  font-family: sans-serif;
}

h1
{
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  font-family: Verdana, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h2
{
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  border-radius: 20px;
}

form
{
  margin: auto;
}

input
{
  margin: 0px 160px 15px 15px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width: 298px;
  font-size: 15px; /* Storleken på texten där man uppger e-post och lösenord */
  color: white;
}

label
{
  margin: 0px 150px 0px 15px;
  width: 100%;
  color: white;
}

button
{
  color: rgba(66,48,1,1);
  border-radius: 5px; /*Runda hörn på knapparna*/
  border: 2px solid #fff;
  font-size: 15px;  /* Storleken på texten i knapparna */
  box-shadow: 5px 5px 10px 5px rgba(0,0,0, 0.4);
  position: absolute;
}

button:hover
{
  background-color: #FF9933;
  color: white;
  transition-duration: 0.4s;
}

.loginBox
{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 450px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

.btnLogin
{
  margin: 10px 100px 0px 15px;
  background: rgba(255, 0, 0, 0.10);
  padding: 10px 15px;
  width: 300px;
  height: 40px;
  color: white;
}

.btnSignup
{
  margin-top: 60px;
  margin-left: 175px;
  width: 140px;
}

.btnRegister
{
  margin: 60px 0px 0px 15px;
  width: 140px;
}

.forgot
{
  margin: 10px 50px 0px 90px;
  top: 85%;
  color: white;
}

.loginImg
{
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Runda hörn på "gubben" ovanför inlogg */
  overflow: hidden;
  top: calc(-50px/2); /* Justerar höjden på bilden */
  left: calc(50% - 50px);
}
