body
{
  background-image: url(img/bok.jpg);
  background-size: cover;
  font-family: sans-serif;
}

h1
{
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  font-family: Verdana, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h2
{
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  border-radius: 20px;
}

input
{
  margin: 0px 150px 15px 30px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width: 250px;
  font-size: 15px; /* Storleken på texten där man uppger e-post och lösenord */
  color: white;
}

label
{
  margin: 0px 150px 0px 30px;
  width: 100%;
}

form
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 450px;
  padding: 80px 10px;
  box-sizing: border-box;
}

button
{
  color: rgba(66,48,1,1);
  border-radius: 5px; /*Runda hörn på knapparna*/
  border: 2px solid #fff;
  font-size: 15px;  /* Storleken på texten i knapparna */
  box-shadow: 5px 5px 10px 5px rgba(0,0,0, 0.4);
  position: absolute;
}

button:hover
{
  background-color: #FF9933;
  color: white;
  transition-duration: 0.4s;
}

.loginBtn
{
  margin: 10px 150px 15px 30px;
  background: rgba(255, 0, 0, 0.10);
  width: 250px;
  height: 40px;
}

.signupbtn
{
  margin: 30px 0px 15px 30px;
  width: 110px;
}

.studybtn
{
  margin: 30px 0px 15px 30px;
  top: 70%;
}

.forgot
{
  position: absolute;
  top: 85%;
}

.loginBox
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 450px;
  padding: 80px 10px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

  .loginImg
  {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Runda hörn på "gubben" ovanför inlogg */
    overflow: hidden;
    position: absolute;
    top: calc(-50px/2); /* Justerar höjden på bilden */
    left: calc(50% - 50px);
  }
