.popUp
{
margin-left: 450px;
width: 320px;
height: 140px;
box-sizing: border-box;
background: rgba(0,0,0,.5);
box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
margin: 270px auto 0 auto;
}

.popUpMsg
{
  padding-top: 20px;
  color: white;
}

.linkStartpage
{
  color: white;
  font-size: 18px;
  width: 240px;
  height: 20px;
  margin-left: 80px;
  margin-bottom: 5px;
}
