.popUp{
margin-left: 450px;
width: 320px;
height: 140px;
box-sizing: border-box;
background: rgba(0,0,0,.5);
box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
margin: 270px auto 0 auto;
}
.buttonBack{
  color: black;
  font-size: 18px;
  position: absolute;
  width: 240px;
  height: 20px;
  margin: 75px auto 100px 78px;
}
.userSaved{
  color: white;
  font-size: 30px;
  position: absolute;
  margin: 30px auto 100px 8px;
}
.tryAgain{
  color: black;
  font-size: 18px;
  position: absolute;
  width: 240px;
  height: 20px;
  margin: 80px auto 100px 60px;
}
.wrong{
  color: white;
  font-size: 30px;
  position: absolute;
  margin: 20px auto 100px 50px;
}
.alreadyAvailable{
  color: white;
  padding-top: 10px;
}
.linkStartpage{
  color: white;
  font-size: 18px;
  width: 240px;
  height: 20px;
  margin-left: 80px;
  margin-bottom: 5px;

}
