body{
  margin: 0;
  padding: 0;
  background-image: url(img/bok.jpg);
  background-size: cover;
  font-family: sans-serif;
}
.rubrik{
text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
font-family: Verdana, Geneva, sans-serif;
font-size: 60px;
font-weight: bold;
color: #fff;
}
p.rubrik{  /* Centrerar rubriken (p) "STUDIEHJÄLPEN" till mitten*/
  margin-right: auto;
  margin-left: auto;
  width: 38%;
  transform: translate(0%,-45%);
}
.loginbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 450px;
  padding: 80px 100px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}
.gubbe{
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Runda hörn på "gubben" ovanför inlogg */
  overflow: hidden;
  position: absolute;
  top: calc(-50px/2); /* Justerar höjden på bilden */
  left: calc(50% - 50px);
}
h1{
  margin: 0;   /* Justerar texten upp eller ner */
  padding: 0;
  color: #fff;
  position: absolute;
  /* left: calc(50% - 100px); */
  text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
  border-radius: 20px;
  font-size: 25px;
  width: 165%;
  transform: translate(-6%,25%);
}

.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  width: 165%;
  font-size: 15px; /* Storleken på texten där man uppger e-post och lösenord */
  transform: translate(-18%,-20%);
}
.name{
  margin: 0;
  padding: 0;
  transform: translate(-15%,-10%);
  width: 200%;
}
.email{
  margin: 0;
  padding: 0;
  transform: translate(-15%,-10%);
  width: 200%;
}
.mobnr{
  margin: 0;
  padding: 0;
  transform: translate(-15%,-10%);
  width: 200%;
}
.passw{
  margin: 0;
  padding: 0;
  transform: translate(-15%,-10%);
  width: 200%;
}
button{
  color: rgba(66,48,1,1);
  border-radius: 5px; /*Runda hörn på knapparna*/
  border: 2px solid #fff;
  font-size: 15px;  /* Storleken på texten i knapparna */
  box-shadow: 5px 5px 10px 5px rgba(0,0,0, 0.4);
}
:hover
button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #FF9933;
    color: white;
}
.canclebtn{
  margin: 0;
  padding: 0;
  left: 13%;
  width: 110px;
  position: absolute;
  top: 100%;
  transform: translate(159%,-273%);
  height: 40px;
  width: 100px;
}
.regbtn{
  position: absolute;
  transform: translate(-35%,35%);/* -20% justerar knappen vågrät, 10% justerar knappen lodrät */
  margin: 0;
  padding: 0;
  background: rgba(255, 0, 0, 0.10);
  padding: 10px 15px;
  width: 135px;
  height: 40px;
}
.godkann{
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: justify;
  transform: translate(-20%,120%);/* -20% justerar knappen vågrät, 10% justerar knappen lodrät */
}
