body
{
  background-size: cover;
  background-image: url(img/userbackground.jpeg);
}

table
{
    border-collapse: collapse;
    background-color: grey;
}
/*Studentstartpage.php Tabell med tillgängliga Studiecocher */
.availableCoachesTable
{
  width: 95%;
}

/*Studentstartpage Vit text som visas när inga studiecoacher finns tillgängliga */
.noAvailability
{
  color: white;
  margin: 10px 30px 20px 25px;
  text-decoration: underline;
}

/*Hittar inte */
.studyCoachTable
{
  width: 1200px;
  margin: 10px 30px 20px 10px;
}

table, td, th
{
    border-bottom: 2px
    solid white; /* Vita linjer kring tabellerna */
    margin: auto;
    text-align: left;
}

td, th
{
    padding: 10px;

}

td /*  */
{
    width: 60px;
    height: 70px;
    position: center;
}

th
{
    background-color: rgba(0,0,0,.5);
    color: white;
}

/* Studentstartpage knappen Boka */
.btnBook
{
  padding-top: 20px;
  padding-left: 30px;
  margin-right: auto;
}

/*Studentstartpage logga ut knapp*/
.logoutBtn
{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 575px;
}

/*Adminstartpage*/
.btnDelete
{
  margin: 0px 5px 4px 30px;

}

.btnEdit
{
  margin: 10px 5px 4px 30px;
}

.btnCancelEdit
{
  margin-top: 20px;
  margin-left: 100px;
}

.btnSearch
{
  margin: 25px 200px 25px 0px;
}

.btnBook
{
  margin: -62px 5px 4px 30px;
  margin: -40px 20px 5px 10px;
}

.resultAvailability
{
  margin: 30px 0px 10px 0px;
}

.boxNewBookings
{
  margin: -28px 5px 4px 30px;
  width: 1200px;
  height: auto;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
  padding-left:15px;
  margin-left: 25px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.boxCoachAvailable
{
  width: 1200px;
  height: 200px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
  padding-left:15px;
  margin-left: 25px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.descriptionStudyCoach
{
  width: 500px;
}

.addDay{
  margin-bottom: 300px;
  width: 100px;
  height: 40px;
}
.formBookings
{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 525px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

.newBooking
{
  margin: 30px 30px 20px 25px;
  width: 1300px;
}

.myBookings
{
  width: 1400px;
  height: 250px;
}

.booking
{
  margin: 10px 10px 10px 25px;
  background-color: white;
  width: 250px;
  height: 150px;
  float: left;
  border-radius: 25px;
  padding: 25px;

}

.coachInfo
{
  padding: 0px 25px 25px 0px;
}

.studentInfo
{
  padding: 0px 25px 25px 0px;
}

.formRegisterCoach
{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 575px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  box-shadow: 5px 5px 4px rgba(0,0,0, 0.7);
}

.boxLabel
{
  margin: 0px 150px 0px 25px;
}

.boxInput
{
  margin: 0px 160px 15px 25px;
}

.subjects
{
  overflow: hidden;
  padding-top: 2px;
}

.labelSubjects
{
  margin-left: 25px;
}

.dropdownInfo
{
  margin: 3px 75px 0px 0px;
  color: white;
  font-size: 10px;
  font-weight: lighter;
  float: right;
}

.btnregister
{
  margin: 20px 100px 0px 25px;
  width: 300px;
  height: 40px;
}

.boxTitle
{
  padding-top: 10px;
}

.calendarImg
{
  width: 40px;
  height: 40px;
  margin-left: 200px;
}
