body
{
  background-color: lightgrey;
  background-image: none;
}

table
{
    border-collapse: collapse;
    background-color: grey;
}

.bookingTitle
{
  width: 100%;
  margin: 25px 25px 25px 25px;
}

.logoutBtn
{
  margin-top: 200px;
  margin-left: 575px;
}

.availableCoachesTable
{
  width: 900px;
  margin: 10px 30px 20px 100px;
}

.studyCoachTable
{
  width: 1200px;
  margin: 10px 30px 20px 10px;
}

.btnDelete
{
  margin: -62px 5px 4px 30px;

}

.btnEdit
{
  margin: -28px 5px 4px 30px;
}

table, td, th
{
    border-bottom: 2px
    solid white;
    margin: auto;
    text-align: left;
}

td, th
{
    padding: 10px;

}

td {
    width: 60px;
    height: 80px;
    vertical-align: bottom;
}

th {
    background-color: rgba(0,0,0,.5);
    color: white;
}

tr:hover
{
  background-color: #cc2900;
  color: white;
  transition-duration: 0.4s;
}

button.bookbtn{
  position: relative;
}
